body{
    background-color: rgb(121, 184, 96);
}
.heading{
    width: 80%;
    font-size:40px; 
}
#camera{
    border-style: groove;
    border-width: 6px;
    border-color: darkred;
    width: 400px; 
   
}
#captured_img{
    border-style: groove;
    border-width: 6px;
    border-color: darkred;
    width: 400px;
}